<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="3ec0f48c-5fa9-4dd9-9c6b-78073def827d"
    Version="1.0.0.0"
    Publisher="CN=wulle_000" />

  <Properties>
    <DisplayName>Ordina.TFSMonitor.MetroJS</DisplayName>
    <PublisherDisplayName>wulle_000</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="Ordina.TFSMonitor.MetroJS"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="Ordina.TFSMonitor.MetroJS"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
