<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ODataTFS.BaseUrl" value="https://codeplexodata.cloudapp.net" />

    <!-- TFS CODEPLEX SETTINGS -->
    <add key="ODataTFS.TfsProjectCollection" value="" />
    <add key="ODataTFS.TfsTeamProject" value="" />
    <add key="ODataTFS.WorkItemType" value="" />
    <add key="ODataTFS.TfsUsername" value="" />
    <add key="ODataTFS.TfsPassword" value="" />
    <add key="ODataTFS.TfsDomain" value="" />

  </appSettings>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="higherMessageSize" maxReceivedMessageSize="157286400" maxBufferSize="157286400" maxBufferPoolSize="157286400" transferMode="Streamed">
          <readerQuotas maxDepth="157286400" maxStringContentLength="157286400" maxArrayLength="157286400" maxBytesPerRead="157286400" maxNameTableCharCount="157286400" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>